@charset "UTF-8";

#totalPage{
	display: flex;
   	justify-content: center;
	padding-left : 260px;
	padding-right : 260px;
	padding-top : 120px;
}
#headArea {
    background-color: #222;
    width:800px;
    height:70px;
}
#headArea p {
    font-size: 30px;
    color: white;
    text-align: center; 
    line-height: 70px; 
}
#eachContents{
	background-color: #222;
    width:800px;
    height:70px;
}
#rBoardTable{
	width:800px;
}
.rnumTd{
	text-align: center; 
	width : 7%;
	height : 8.5vh;
}
.participationPeeTd{
	text-align: center;
	width : 11%;
}
.deadlineStatusTd{
	text-align: center; 
	width : 11%;
}
#headText{
	font-size : 40px;
	height : 13vh;
}
.tbodyTh{
	height : 7vh;
}

#rBoardTable th,
#rBoardTable td,
#rBoardTable thead {
    background-color: #222;
    color: #fff; /* 텍스트 색상을 흰색으로 설정합니다. */
}

#rBoardTable,
#rBoardTable thead tr,
#rBoardTable tbody tr,
#rBoardTable tbody tr th,
#rBoardTable tbody tr td,
#rBoardTable tfoot tr {
    border: 3px solid black; /* border 속성 값 사이에 공백을 사용하여 설정합니다. */
}

.titleTd{
	width: 55%;
	padding-left : 10px;
}
.cdateTd{
	text-align: center; 
}
a {
    text-decoration-line: none;
}

#rBoardFormDiv{
	width: 80%;
    height: 100%;
    background-color: #222;
}

#rBoardLineDiv{
	padding : 25px;
}
#rBoardLineView{
	padding : 25px;
}

#titleBox{
     border: 2px solid white; /* 테두리 스타일 및 색상 설정 */
     padding: 10px; /* 안쪽 여백 설정 */
}


#titleBoxView{
	 width : 100%;
	 border: 2px solid white; /* 테두리 스타일 및 색상 설정 */
     padding: 10px; /* 안쪽 여백 설정 */
}

#titleDetail{
	font-size: 30px;
     color: white;
     text-align: center; 
     line-height: 2px; 
}

#customButton {
     width: 30px;
     height: 30px;
     background-image: url('/images/board/search.png');
     background-size: cover;
     border: none;
     cursor: pointer;
 }
#flexBox{
	display: flex;	
	margin-top : 2%;
}
#flexBoxData{
	display: flex;	
	margin-top : 2%;
}
.inputBox{
	border: 2px solid white;
    width: 100%;
    text-align: center; 
    cursor: pointer;
}
.inputBoxClass{
	border: 2px solid white;
    width: 100%;
    height: 97%;
    text-align: center; 
}
.searchBox{
	border: 2px solid white;
}

#dataBox{
	display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top : 10px;
}

#dateBox{
	display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;	
    margin-top : 10px;
    
}

#dateInput {
  background-color: #222;
  color: white;
  border: 1px solid white; /* 테두리 색상 및 두께 */
  border-radius: 5px; /* 테두리 둥글게 */
  margin-left: 4px;
  font-size: 18px;
  text-align: center; /* 텍스트 중앙 정렬 */
}



#cdateInput{
	background-color: #222;
    color: white; 
    border: none;
    margin-left : 4px;
    font-size: 18px;
    text-align: center;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}

#contentsLine{
    border: 1px solid white;
    height: 75vh;
    margin-top: 10px;
}
#contentsLineDiv{
	border: 1px solid white;
    height: 75vh;
    margin-top: 10px;
}

#subDataBox{
	display: flex;
    justify-content: flex-end;
    margin-top : 2%;
}
#subDataBoxDiv{
	display: flex;
    justify-content: flex-end;
    margin-top : 2%;
}


#subDataBox input{
	background-color: #222;
    color: white; 
    border: 1px solid white;
    text-align: center;
}
#subDataBoxDiv input{
	background-color: #222;
    color: white; 
    border: 1px solid white;
    text-align: center;
}


#ctntImageDIv {
	margin: 20px;
    border: 1px solid;
    height: 55vh;
}

#contentImageDIv{
	margin: 20px;
    border: 1px solid;
    height: 55vh;	
}

#ctntDiv{
    height: 12vh;
    margin-left : 20px;
    margin-right : 20px;
    margin-bottom : 20px;
}

#contentDiv{
	height: 12vh;
    margin-left : 20px;
    margin-right : 20px;
    margin-bottom : 20px;
}
#ctntText{
	background-color: #222;
    color: white; 
    width: 99.3%;
    height: 93%;
}

#contentText{
	background-color: #222;
    color: white; 
    width: 99.3%;
    height: 93%;
}

#titleText {
    background-color: #222;
    color: white; 
    width: 100%;
    height: 85%;
    border: none;
    padding-left: 5px;
    font-size: 30px;
    outline: none; 
}
#titleInput{
	background-color: #222;
    color: white; 
    width: 100%;
    height: 85%;
    border: none;
    padding-left: 5px;
    font-size: 30px;
    outline: none; 
}
#titleText:focus {
    background-color: #222; /* 포커스 시에도 배경색 유지 */
    color: white; /* 포커스 시에도 텍스트 색상 유지 */
}

.fileConfirm {
  height: 100%;
  border: 1px solid #989898;
  text-align: center;
  display: flex; /* 부모 요소를 플렉스 컨테이너로 설정 */
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

.add-button {
   /* 버튼의 크기 설정 */
   width: 70px;
   height: 70px;
   /* 이미지 경로 설정 */
   background-image: url('/images/board/button.png');
   /* 배경 이미지를 가운데 정렬하여 요소 내에 중앙에 위치시킵니다. */
   background-position: center;
   /* 배경 이미지가 잘릴 경우를 대비하여 요소의 크기에 맞춰 이미지를 확대하지 않습니다. */
   background-size: contain;
   /* 버튼 테두리 제거 */
   border: none;
   /* 기타 스타일링 */
   cursor: pointer; /* 마우스 커서를 포인터로 변경하여 클릭 가능함을 나타냄 */
    border-radius : 50%;
}

#cancleData{
	float:right;
	margin-bottom:10px;
}
.ol-attribution {
    display: none !important;
}

.main-popup {
  position: fixed;
  left: 0;
  top: 30px;
  margin: 0;
  width: 100%;
  height: 760px;
  background-color: #333;
  border-radius: 5px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all .5s ease;
  /*overflow: hidden;*/
}

.img-popup{
  position: fixed;
  left: 0;
  top: 30px;
  margin: 0;
  width: 100%;
  height: 400px;
  background-color: #333;
  border-radius: 5px;
  z-index: 1500;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all .5s ease;
  /*overflow: hidden;*/
}

.main-popup.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(10px);
  transition: all .5s ease;
}

#p_people{
	margin-left :10px;
	display: flex;
    flex-direction: column;
}

.error{
	margin-top: 5px;
	color : red;
}

@media (min-width: 500px) {
  .main-popup {
    width: 1500px;
    left: 5%;
    right: 5%;
    
  }
}

.popup-header {
  position: relative;
  padding: 0;
  margin: 0;
  height: 62px;
  width: 100%;
}

#popup-close-button a {
  position: absolute;
  right: 10px;
  top: -30px;
  width: 22px;
  height: 22px;
}

#popup-close-button a::before {
  content: '';
  position: absolute;
  right: 10px;
  top: 0;
  width: 3px;
  height: 25px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#popup-close-button a::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 0;
  width: 3px;
  height: 25px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.popup-content {
  height: 666px;
  overflow: hidden;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 어둡게 만들기 위해 rgba 사용 */
    z-index: 999; /* 팝업보다 앞에 위치 */
    display: none; /* 초기에는 숨겨진 상태 */
}
#popup-contentDiv{
	display: flex;
	height: 100%;
}
#popup-search{
	border: 1px solid black;
    height: 99%;
    width: 30%;
    background-color: #222;
    margin-right: 10px;
    margin-left: 10px;
    padding : 10px;
}
#popup-map{
	border: 1px solid black;
	width: 69%;
    height: 99%;
    background-color: #222;
    margin-right: 10px;
	padding : 10px;
}
#popupLine{
	border : 1px solid white;	
	width: 100%;
	height: 97%;
}

#searchDiv1{
	height: 47vh;
    border: 1px solid;
    overflow-y: overlay;
}
#popup-table{
	width : 100%;
}

#mountainNm,#popupTextArea{
	background-color: #333;
    color: white;
}
#mountainNm{
	width: 87%;
}
#popupTextArea{
	width: 98%;
    height: 25vh;
}
#popup-table td {
    text-align: center;
}
.contentInfo:hover {
    background-color: #333;
}


.map {
   height: 98%;
   width: 100%;
 }
    
.ol-attribution {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: rgba(255, 255, 255, 0.5); /* 배경색 설정 */
  padding: 5px; /* 안쪽 여백 설정 */
  border-radius: 5px; /* 테두리 반경 설정 */
}
#headerButton{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding : 10px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

/* 버튼의 색상 */
.btn-1 {
  background-color: rgb(6, 14, 131);
  border: none;
}

/* 버튼에 호버 효과 적용 */
.btn-1:hover {
  background-color: rgb(0, 3, 255);
}

.btn-disabled {
    background-color: #CCCCCC !important; /* 회색 배경색 */
    background-image: none !important; /* 배경 이미지 제거 */
    cursor: default; /* 기본 커서로 변경 */
    pointer-events: none; /* 클릭 이벤트 비활성화 */
}

.btn-2 {
  background: rgb(200, 100, 100);
  background: linear-gradient(0deg, rgba(200, 100, 100, 1) 0%, rgba(180, 80, 80, 1) 100%);
  border: none;
}

.btn-2:hover {
  background: rgb(255, 150, 150);
  background: linear-gradient(0deg, rgba(255, 150, 150, 1) 0%, rgba(240, 120, 120, 1) 100%);
}
#mntnInfos {
	width: 100%;
	height: 38vh;
	margin : 5px;
	background-color: #333;
    color: white;
}
#mntnNmInput{
	 width: 98%;
     font-size: 16px;
     font-weight: bold;
     text-align: center;
     background-color: #333;
     color: white;
     border: none;
}
#rBoardForm{
	width:100%;	
}

#createForm {
  float: right;
  margin : 10px;
}

#formView{
	display: flex;
    justify-content: center;
    padding-left: 230px;
    /* padding-right: 260px; */
    width:100%;
}

#rboardDetailView{
	display: flex;
    justify-content: center;
    padding-left: 230px;
    /* padding-right: 260px; */
    width:100%;
}
